# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# created by virtualenv automatically

